###############################################################################
###############################################################################
###############################################################################
########################################################################
# Controller 1
# Memory Device: DDRII_SRAM->CIO->CY7C1520V18-250BZC #
# Data Width:     36 #
########################################################################
###############################################################################
################################################################################
# I/O STANDARDS
################################################################################

NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[*]"                         IOSTANDARD = "HSTL_II_DCI_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[*]"                         IOSTANDARD = "HSTL_I_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_LD_N"                          IOSTANDARD = "HSTL_I_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_RW_N"                          IOSTANDARD = "HSTL_I_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DLL_OFF_N"                     IOSTANDARD = "HSTL_I_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_BW_N[*]"                       IOSTANDARD = "HSTL_I_DCI_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_K[*]"                          IOSTANDARD = "HSTL_I_DCI_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_K_N[*]"                        IOSTANDARD = "HSTL_I_DCI_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_CQ[*]"                         IOSTANDARD = "HSTL_II_DCI_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_CQ_N[*]"                       IOSTANDARD = "HSTL_II_DCI_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_cal_done" 					 IOSTANDARD = "LVCMOS25" ;
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_masterbank_sel_pin[*]"               IOSTANDARD = HSTL_I_DCI_18;


################################################################################
#SAVE attributes to reserve the pins
################################################################################
NET  "masterbank_sel_pin[*]"                    S;
# ENABLE DCI CASCADE BANK 33 IS THE MASTER AND BANK 29 IS THE SLAVE
CONFIG DCI_CASCADE = "33 29";

############################################################################
################ THIS IS FOR RAM6 and RAM 1###################
NET  "masterbank_sel_pin[0]"                LOC = "BA27" ;	      #Bank 33
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[0]"                          LOC = "AY42" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[1]"                          LOC = "AW42" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[2]"                          LOC = "AW41" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[3]"                          LOC = "AW40" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[4]"                          LOC = "AY40" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[5]"                          LOC = "BA41" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[6]"                          LOC = "BA42" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[7]"                          LOC = "BB41" ;
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[8]"                          LOC = "BA40" ;	# byte lane 0 parity	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[9]"                          LOC = "BB38" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[10]"                         LOC = "BA39" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[11]"                         LOC = "AY38" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[12]"                         LOC = "AW37" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[13]"                         LOC = "AW38" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[14]"                         LOC = "AY39" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[15]"                         LOC = "BB37" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[16]"                         LOC = "BA37" ;
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[17]"                         LOC = "AW36" ;	# byte lane 1 parity	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[18]"                         LOC = "BB36" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[19]"                         LOC = "BA36" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[20]"                         LOC = "AW35" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[21]"                         LOC = "BB34" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[22]"                         LOC = "BA35" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[23]"                         LOC = "BB33" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[24]"                         LOC = "BA34" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[25]"                         LOC = "AY33" ;
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[26]"                         LOC = "AW33" ;	# byte lane 2 parity	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[27]"                         LOC = "AW32" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[28]"                         LOC = "AY32" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[29]"                         LOC = "BA32" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[30]"                         LOC = "BB32" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[31]"                         LOC = "BB31" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[32]"                         LOC = "BA30" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[33]"                         LOC = "BA31" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[34]"                         LOC = "AY30" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ[35]"                         LOC = "AW31" ;
#NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[21]"                         LOC = "AW20" ;	# NEED TO COME BACK TO THIS      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[20]"                         LOC = "AW21" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[19]"                         LOC = "AY20" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[18]"                         LOC = "AY19" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[17]"                         LOC = "BA19" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[16]"                         LOC = "BA20" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[15]"                         LOC = "BA21" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[14]"                         LOC = "BB20" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[13]"                         LOC = "AW22" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[12]"                         LOC = "AW23" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[11]"                         LOC = "AY22" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[10]"                         LOC = "BA22" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[9]"                          LOC = "BB21" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[8]"                          LOC = "AW26" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[7]"                          LOC = "AV26" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[6]"                          LOC = "AW27" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[5]"                          LOC = "AV28" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[4]"                          LOC = "BA29" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[3]"                          LOC = "AY29" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[2]"                          LOC = "AY28" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[1]"                          LOC = "AY27" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa[0]"                          LOC = "AW28" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_LD_N"                           LOC = "BB29" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_RW_N"                           LOC = "BB28" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DLL_OFF_N"                      LOC = "BB27" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_BW_N[0]"                        LOC = "BB24" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_BW_N[1]"                        LOC = "BA24" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_BW_N[2]"                        LOC = "AY24" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_BW_N[3]"                        LOC = "AW25" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_cal_done"                             LOC = "AN29" ;	#"AP28" ; # MIG dly_cal_done	 
     
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_K[0]"                           LOC = "BB26" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_K_N[0]"                         LOC = "BA26" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_CQ[0]"                          LOC = "AY37" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_CQ_N[0]"                        LOC = "AY35" ;	      


###############################################################################
###############################################################################
###############################################################################
########################################################################
# Controller 2
# Memory Device: DDRII_SRAM->CIO->CY7C1520V18-250BZC #
# Data Width:     36 #
########################################################################
###############################################################################
################################################################################
# I/O STANDARDS
################################################################################

NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[*]"                         IOSTANDARD = "HSTL_II_DCI_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[*]"                         IOSTANDARD = "HSTL_I_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_LD_N_2"                          IOSTANDARD = "HSTL_I_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_RW_N_2"                          IOSTANDARD = "HSTL_I_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DLL_OFF_N_2"                     IOSTANDARD = "HSTL_I_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_BW_N_2[*]"                       IOSTANDARD = "HSTL_I_DCI_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_K_2[*]"                          IOSTANDARD = "HSTL_I_DCI_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_K_N_2[*]"                        IOSTANDARD = "HSTL_I_DCI_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_CQ_2[*]"                         IOSTANDARD = "HSTL_II_DCI_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_CQ_N_2[*]"                       IOSTANDARD = "HSTL_II_DCI_18";
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_cal_done_2" 			     IOSTANDARD = "LVCMOS25" ;

NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_masterbank_sel_pin_2[*]"                    IOSTANDARD = HSTL_I_DCI_18;
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_masterbank_sel_pin_2[*]"                    S;

# ENABLE DCI CASCADE BANK 27 IS THE MASTER ABD BANK 31 IS THE SLAVE
CONFIG DCI_CASCADE = "27 31";


############################################################################
########### THIS IS FOR RAM 5 and RAM 2 ################################
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_masterbank_sel_pin_2[0]"                LOC = "B31" ;	  #Bank 27

NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[0]"                          LOC = "D20" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[1]"                          LOC = "D21" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[2]"                          LOC = "C21" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[3]"                          LOC = "C20" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[4]"                          LOC = "A20" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[5]"                          LOC = "A21" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[6]"                          LOC = "A22" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[7]"                          LOC = "B21" ;
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[8]"                          LOC = "D22" ;	# byte lane 0 parity	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[9]"                          LOC = "C23" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[10]"                         LOC = "B22" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[11]"                         LOC = "B23" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[12]"                         LOC = "A24" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[13]"                         LOC = "B24" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[14]"                         LOC = "C24" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[15]"                         LOC = "E24" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[16]"                         LOC = "E25" ;
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[17]"                         LOC = "D26" ;	# byte lane 1 parity	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[18]"                         LOC = "E28" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[19]"                         LOC = "E27" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[20]"                         LOC = "C26" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[21]"                         LOC = "C25" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[22]"                         LOC = "B26" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[23]"                         LOC = "A26" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[24]"                         LOC = "A25" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[25]"                         LOC = "A27" ;
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[26]"                         LOC = "B28" ;	# byte lane 2 parity	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[27]"                         LOC = "A29" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[28]"                         LOC = "F30" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[29]"                         LOC = "E30" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[30]"                         LOC = "E29" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[31]"                         LOC = "D30" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[32]"                         LOC = "C29" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[33]"                         LOC = "B29" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[34]"                         LOC = "C28" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DQ_2[35]"                         LOC = "D28" ;	# byte lane 3 parity
#NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[21]"                         LOC = "D42" ; #need to come back to this	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[20]"                         LOC = "E42" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[19]"                         LOC = "D41" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[18]"                         LOC = "D40" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[17]"                         LOC = "C41" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[16]"                         LOC = "B42" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[15]"                         LOC = "B41" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[14]"                         LOC = "A41" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[13]"                         LOC = "A40" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[12]"                         LOC = "A39" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[11]"                         LOC = "B39" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[10]"                         LOC = "C40" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[9]"                          LOC = "C39" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[8]"                          LOC = "B36" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[7]"                          LOC = "B37" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[6]"                          LOC = "A36" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[5]"                          LOC = "A37" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[4]"                          LOC = "A35" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[3]"                          LOC = "A34" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[2]"                          LOC = "B34" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[1]"                          LOC = "C34" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_sa_2[0]"                          LOC = "D33" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_LD_N_2"                           LOC = "D31" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_RW_N_2"                           LOC = "C31" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_DLL_OFF_N_2"                      LOC = "C30" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_BW_N_2[0]"                        LOC = "D35" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_BW_N_2[1]"                        LOC = "D36" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_BW_N_2[2]"                        LOC = "C36" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_BW_N_2[3]"                        LOC = "C35" ;	            
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_K_2[0]"                           LOC = "A30" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_K_N_2[0]"                         LOC = "A31" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_CQ_2[0]"                          LOC = "D25" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_ddrii_CQ_N_2[0]"                        LOC = "D27" ;	      
NET  "m_vp_llpi_phys_plat_ddr_sram_device_prim_device_cal_done_2"                             LOC = "AP28";     #"AN29" ; # MIG dly_cal_done

