###############################################################################
###############################################################################
###############################################################################
########################################################################
# Controller 1
# Memory Device: DDRII_SRAM->CIO->CY7C1520V18-250BZC #
# Data Width:     36 #
########################################################################
###############################################################################
################################################################################
# I/O STANDARDS
################################################################################

NET  "ddrii_dq[*]"                         IOSTANDARD = "HSTL_II_DCI_18";
NET  "ddrii_sa[*]"                         IOSTANDARD = "HSTL_I_18";
NET  "ddrii_ld_n"                          IOSTANDARD = "HSTL_I_18";
NET  "ddrii_rw_n"                          IOSTANDARD = "HSTL_I_18";
NET  "ddrii_dll_off_n"                     IOSTANDARD = "HSTL_I_18";
NET  "ddrii_bw_n[*]"                       IOSTANDARD = "HSTL_I_DCI_18";
NET  "ddrii_k[*]"                          IOSTANDARD = "HSTL_I_DCI_18";
NET  "ddrii_k_n[*]"                        IOSTANDARD = "HSTL_I_DCI_18";
NET  "ddrii_cq[*]"                         IOSTANDARD = "HSTL_II_DCI_18";
NET  "ddrii_cq_n[*]"                       IOSTANDARD = "HSTL_II_DCI_18";
NET  "cal_done" 					 IOSTANDARD = "LVCMOS25" ;
NET  "masterbank_sel_pin[*]"               IOSTANDARD = HSTL_I_DCI_18;


################################################################################
#SAVE attributes to reserve the pins
################################################################################
NET  "masterbank_sel_pin[*]"                    S;
# ENABLE DCI CASCADE BANK 33 IS THE MASTER AND BANK 29 IS THE SLAVE
CONFIG DCI_CASCADE = "33 29";

############################################################################
################ THIS IS FOR RAM6 and RAM 1###################
NET  "masterbank_sel_pin[0]"                LOC = "BA27" ;            #Bank 33
NET  "ddrii_dq[0]"                          LOC = "AY42" ;            
NET  "ddrii_dq[1]"                          LOC = "AW42" ;            
NET  "ddrii_dq[2]"                          LOC = "AW41" ;            
NET  "ddrii_dq[3]"                          LOC = "AW40" ;            
NET  "ddrii_dq[4]"                          LOC = "AY40" ;            
NET  "ddrii_dq[5]"                          LOC = "BA41" ;            
NET  "ddrii_dq[6]"                          LOC = "BA42" ;            
NET  "ddrii_dq[7]"                          LOC = "BB41" ;
NET  "ddrii_dq[8]"                          LOC = "BA40" ;      # byte lane 0 parity          
NET  "ddrii_dq[9]"                          LOC = "BB38" ;            
NET  "ddrii_dq[10]"                         LOC = "BA39" ;            
NET  "ddrii_dq[11]"                         LOC = "AY38" ;            
NET  "ddrii_dq[12]"                         LOC = "AW37" ;            
NET  "ddrii_dq[13]"                         LOC = "AW38" ;            
NET  "ddrii_dq[14]"                         LOC = "AY39" ;            
NET  "ddrii_dq[15]"                         LOC = "BB37" ;            
NET  "ddrii_dq[16]"                         LOC = "BA37" ;
NET  "ddrii_dq[17]"                         LOC = "AW36" ;      # byte lane 1 parity          
NET  "ddrii_dq[18]"                         LOC = "BB36" ;            
NET  "ddrii_dq[19]"                         LOC = "BA36" ;            
NET  "ddrii_dq[20]"                         LOC = "AW35" ;            
NET  "ddrii_dq[21]"                         LOC = "BB34" ;            
NET  "ddrii_dq[22]"                         LOC = "BA35" ;            
NET  "ddrii_dq[23]"                         LOC = "BB33" ;            
NET  "ddrii_dq[24]"                         LOC = "BA34" ;            
NET  "ddrii_dq[25]"                         LOC = "AY33" ;
NET  "ddrii_dq[26]"                         LOC = "AW33" ;      # byte lane 2 parity          
NET  "ddrii_dq[27]"                         LOC = "AW32" ;            
NET  "ddrii_dq[28]"                         LOC = "AY32" ;            
NET  "ddrii_dq[29]"                         LOC = "BA32" ;            
NET  "ddrii_dq[30]"                         LOC = "BB32" ;            
NET  "ddrii_dq[31]"                         LOC = "BB31" ;            
NET  "ddrii_dq[32]"                         LOC = "BA30" ;            
NET  "ddrii_dq[33]"                         LOC = "BA31" ;            
NET  "ddrii_dq[34]"                         LOC = "AY30" ;            
NET  "ddrii_dq[35]"                         LOC = "AW31" ;
#NET  "ddrii_sa[21]"                         LOC = "AW20" ;	# NEED TO COME BACK TO THIS      
NET  "ddrii_sa[20]"                         LOC = "AW21" ;	      
NET  "ddrii_sa[19]"                         LOC = "AY20" ;	      
NET  "ddrii_sa[18]"                         LOC = "AY19" ;	      
NET  "ddrii_sa[17]"                         LOC = "BA19" ;	      
NET  "ddrii_sa[16]"                         LOC = "BA20" ;	      
NET  "ddrii_sa[15]"                         LOC = "BA21" ;	      
NET  "ddrii_sa[14]"                         LOC = "BB20" ;	      
NET  "ddrii_sa[13]"                         LOC = "AW22" ;	      
NET  "ddrii_sa[12]"                         LOC = "AW23" ;	      
NET  "ddrii_sa[11]"                         LOC = "AY22" ;	      
NET  "ddrii_sa[10]"                         LOC = "BA22" ;	      
NET  "ddrii_sa[9]"                          LOC = "BB21" ;	      
NET  "ddrii_sa[8]"                          LOC = "AW26" ;	      
NET  "ddrii_sa[7]"                          LOC = "AV26" ;	      
NET  "ddrii_sa[6]"                          LOC = "AW27" ;	      
NET  "ddrii_sa[5]"                          LOC = "AV28" ;	      
NET  "ddrii_sa[4]"                          LOC = "BA29" ;	      
NET  "ddrii_sa[3]"                          LOC = "AY29" ;	      
NET  "ddrii_sa[2]"                          LOC = "AY28" ;	      
NET  "ddrii_sa[1]"                          LOC = "AY27" ;	      
NET  "ddrii_sa[0]"                          LOC = "AW28" ;	      
NET  "ddrii_ld_n"                           LOC = "BB29" ;            
NET  "ddrii_rw_n"                           LOC = "BB28" ;            
NET  "ddrii_dll_off_n"                      LOC = "BB27" ;	      
NET  "ddrii_bw_n[0]"                        LOC = "BB24" ;            
NET  "ddrii_bw_n[1]"                        LOC = "BA24" ;            
NET  "ddrii_bw_n[2]"                        LOC = "AY24" ;            
NET  "ddrii_bw_n[3]"                        LOC = "AW25" ;            
NET  "cal_done"                             LOC = "AN29" ;	#"AP28" ; # MIG dly_cal_done	 
     
NET  "ddrii_k[0]"                           LOC = "BB26" ;	      
NET  "ddrii_k_n[0]"                         LOC = "BA26" ;	      
NET  "ddrii_cq[0]"                          LOC = "AY37" ;	      
NET  "ddrii_cq_n[0]"                        LOC = "AY35" ;	      


###############################################################################
###############################################################################
###############################################################################
########################################################################
# Controller 2
# Memory Device: DDRII_SRAM->CIO->CY7C1520V18-250BZC #
# Data Width:     36 #
########################################################################
###############################################################################
################################################################################
# I/O STANDARDS
################################################################################

NET  "ddrii_dq_2[*]"                         IOSTANDARD = "HSTL_II_DCI_18";
NET  "ddrii_sa_2[*]"                         IOSTANDARD = "HSTL_I_18";
NET  "ddrii_ld_n_2"                          IOSTANDARD = "HSTL_I_18";
NET  "ddrii_rw_n_2"                          IOSTANDARD = "HSTL_I_18";
NET  "ddrii_dll_off_n_2"                     IOSTANDARD = "HSTL_I_18";
NET  "ddrii_bw_n_2[*]"                       IOSTANDARD = "HSTL_I_DCI_18";
NET  "ddrii_k_2[*]"                          IOSTANDARD = "HSTL_I_DCI_18";
NET  "ddrii_k_n_2[*]"                        IOSTANDARD = "HSTL_I_DCI_18";
NET  "ddrii_cq_2[*]"                         IOSTANDARD = "HSTL_II_DCI_18";
NET  "ddrii_cq_n_2[*]"                       IOSTANDARD = "HSTL_II_DCI_18";
NET  "cal_done_2" 			     IOSTANDARD = "LVCMOS25" ;

NET  "masterbank_sel_pin_2[*]"                    IOSTANDARD = HSTL_I_DCI_18;
NET  "masterbank_sel_pin_2[*]"                    S;

# ENABLE DCI CASCADE BANK 27 IS THE MASTER ABD BANK 31 IS THE SLAVE
CONFIG DCI_CASCADE = "27 31";


############################################################################
########### THIS IS FOR RAM 5 and RAM 2 ################################
NET  "masterbank_sel_pin_2[0]"                LOC = "B31" ;	  #Bank 27

NET  "ddrii_dq_2[0]"                          LOC = "D20" ;           
NET  "ddrii_dq_2[1]"                          LOC = "D21" ;           
NET  "ddrii_dq_2[2]"                          LOC = "C21" ;           
NET  "ddrii_dq_2[3]"                          LOC = "C20" ;           
NET  "ddrii_dq_2[4]"                          LOC = "A20" ;           
NET  "ddrii_dq_2[5]"                          LOC = "A21" ;           
NET  "ddrii_dq_2[6]"                          LOC = "A22" ;           
NET  "ddrii_dq_2[7]"                          LOC = "B21" ;
NET  "ddrii_dq_2[8]"                          LOC = "D22" ;     # byte lane 0 parity          
NET  "ddrii_dq_2[9]"                          LOC = "C23" ;           
NET  "ddrii_dq_2[10]"                         LOC = "B22" ;           
NET  "ddrii_dq_2[11]"                         LOC = "B23" ;           
NET  "ddrii_dq_2[12]"                         LOC = "A24" ;           
NET  "ddrii_dq_2[13]"                         LOC = "B24" ;           
NET  "ddrii_dq_2[14]"                         LOC = "C24" ;           
NET  "ddrii_dq_2[15]"                         LOC = "E24" ;           
NET  "ddrii_dq_2[16]"                         LOC = "E25" ;
NET  "ddrii_dq_2[17]"                         LOC = "D26" ;     # byte lane 1 parity          
NET  "ddrii_dq_2[18]"                         LOC = "E28" ;           
NET  "ddrii_dq_2[19]"                         LOC = "E27" ;           
NET  "ddrii_dq_2[20]"                         LOC = "C26" ;           
NET  "ddrii_dq_2[21]"                         LOC = "C25" ;           
NET  "ddrii_dq_2[22]"                         LOC = "B26" ;           
NET  "ddrii_dq_2[23]"                         LOC = "A26" ;           
NET  "ddrii_dq_2[24]"                         LOC = "A25" ;           
NET  "ddrii_dq_2[25]"                         LOC = "A27" ;
NET  "ddrii_dq_2[26]"                         LOC = "B28" ;     # byte lane 2 parity          
NET  "ddrii_dq_2[27]"                         LOC = "A29" ;           
NET  "ddrii_dq_2[28]"                         LOC = "F30" ;           
NET  "ddrii_dq_2[29]"                         LOC = "E30" ;           
NET  "ddrii_dq_2[30]"                         LOC = "E29" ;           
NET  "ddrii_dq_2[31]"                         LOC = "D30" ;           
NET  "ddrii_dq_2[32]"                         LOC = "C29" ;           
NET  "ddrii_dq_2[33]"                         LOC = "B29" ;           
NET  "ddrii_dq_2[34]"                         LOC = "C28" ;           
NET  "ddrii_dq_2[35]"                         LOC = "D28" ;     # byte lane 3 parity
#NET  "ddrii_sa_2[21]"                         LOC = "D42" ; #need to come back to this	      
NET  "ddrii_sa_2[20]"                         LOC = "E42" ;	      
NET  "ddrii_sa_2[19]"                         LOC = "D41" ;	      
NET  "ddrii_sa_2[18]"                         LOC = "D40" ;	      
NET  "ddrii_sa_2[17]"                         LOC = "C41" ;	      
NET  "ddrii_sa_2[16]"                         LOC = "B42" ;	      
NET  "ddrii_sa_2[15]"                         LOC = "B41" ;	      
NET  "ddrii_sa_2[14]"                         LOC = "A41" ;	      
NET  "ddrii_sa_2[13]"                         LOC = "A40" ;	      
NET  "ddrii_sa_2[12]"                         LOC = "A39" ;	      
NET  "ddrii_sa_2[11]"                         LOC = "B39" ;	      
NET  "ddrii_sa_2[10]"                         LOC = "C40" ;	      
NET  "ddrii_sa_2[9]"                          LOC = "C39" ;	      
NET  "ddrii_sa_2[8]"                          LOC = "B36" ;	      
NET  "ddrii_sa_2[7]"                          LOC = "B37" ;	      
NET  "ddrii_sa_2[6]"                          LOC = "A36" ;	      
NET  "ddrii_sa_2[5]"                          LOC = "A37" ;	      
NET  "ddrii_sa_2[4]"                          LOC = "A35" ;	      
NET  "ddrii_sa_2[3]"                          LOC = "A34" ;	      
NET  "ddrii_sa_2[2]"                          LOC = "B34" ;	      
NET  "ddrii_sa_2[1]"                          LOC = "C34" ;	      
NET  "ddrii_sa_2[0]"                          LOC = "D33" ;	      
NET  "ddrii_ld_n_2"                           LOC = "D31" ;           
NET  "ddrii_rw_n_2"                           LOC = "C31" ;           
NET  "ddrii_dll_off_n_2"                      LOC = "C30" ;           
NET  "ddrii_bw_n_2[0]"                        LOC = "D35" ;           
NET  "ddrii_bw_n_2[1]"                        LOC = "D36" ;           
NET  "ddrii_bw_n_2[2]"                        LOC = "C36" ;           
NET  "ddrii_bw_n_2[3]"                        LOC = "C35" ;                 
NET  "ddrii_k_2[0]"                           LOC = "A30" ;           
NET  "ddrii_k_n_2[0]"                         LOC = "A31" ;           
NET  "ddrii_cq_2[0]"                          LOC = "D25" ;           
NET  "ddrii_cq_n_2[0]"                        LOC = "D27" ;           
NET  "cal_done_2"                             LOC = "AP28";     #"AN29" ; # MIG dly_cal_done

