# LVDS IO LANE 02 FPGA 0 IO bank 15

NET "LVDS_RX_LANE_P[0]" IOSTANDARD = "LVDS_25" | LOC = AA34;
NET "LVDS_RX_LANE_N[0]" IOSTANDARD = "LVDS_25" | LOC = Y34;

NET "LVDS_RX_LANE_P[1]" IOSTANDARD = "LVDS_25" | LOC = AA35;
NET "LVDS_RX_LANE_N[1]" IOSTANDARD = "LVDS_25" | LOC = AA36;

NET "LVDS_RX_LANE_P[2]" IOSTANDARD = "LVDS_25" | LOC = Y35;
NET "LVDS_RX_LANE_N[2]" IOSTANDARD = "LVDS_25" | LOC = W35;

NET "LVDS_RX_LANE_P[3]" IOSTANDARD = "LVDS_25" | LOC = V39;
NET "LVDS_RX_LANE_N[3]" IOSTANDARD = "LVDS_25" | LOC = W38;

NET "LVDS_RX_LANE_P[4]" IOSTANDARD = "LVDS_25" | LOC = G38;
NET "LVDS_RX_LANE_N[4]" IOSTANDARD = "LVDS_25" | LOC = G39;

NET "LVDS_RX_LANE_P[5]" IOSTANDARD = "LVDS_25" | LOC = E39;
NET "LVDS_RX_LANE_N[5]" IOSTANDARD = "LVDS_25" | LOC = E40;

NET "LVDS_RX_LANE_P[6]" IOSTANDARD = "LVDS_25" | LOC = H38;
NET "LVDS_RX_LANE_N[6]" IOSTANDARD = "LVDS_25" | LOC = H39;

NET "LVDS_RX_LANE_P[7]" IOSTANDARD = "LVDS_25" | LOC = F39;
NET "LVDS_RX_LANE_N[7]" IOSTANDARD = "LVDS_25" | LOC = F40;

NET "LVDS_RX_LANE_P[8]" IOSTANDARD = "LVDS_25" | LOC = T39;
NET "LVDS_RX_LANE_N[8]" IOSTANDARD = "LVDS_25" | LOC = U39;

NET "LVDS_RX_LANE_P[9]" IOSTANDARD = "LVDS_25" | LOC = T37;
NET "LVDS_RX_LANE_N[9]" IOSTANDARD = "LVDS_25" | LOC = U38;

NET "LVDS_RX_LANE_P[10]" IOSTANDARD = "LVDS_25" | LOC = P38;
NET "LVDS_RX_LANE_N[10]" IOSTANDARD = "LVDS_25" | LOC = N38;

NET "LVDS_RX_LANE_P[11]" IOSTANDARD = "LVDS_25" | LOC = R37;
NET "LVDS_RX_LANE_N[11]" IOSTANDARD = "LVDS_25" | LOC = P37;

NET "LVDS_RX_LANE_P[12]" IOSTANDARD = "LVDS_25" | LOC = H40;
NET "LVDS_RX_LANE_N[12]" IOSTANDARD = "LVDS_25" | LOC = J40;

NET "LVDS_RX_LANE_P[13]" IOSTANDARD = "LVDS_25" | LOC = K38;
NET "LVDS_RX_LANE_N[13]" IOSTANDARD = "LVDS_25" | LOC = J38;

NET "LVDS_RX_LANE_P[14]" IOSTANDARD = "LVDS_25" | LOC = K40;
NET "LVDS_RX_LANE_N[14]" IOSTANDARD = "LVDS_25" | LOC = K39;

NET "LVDS_RX_LANE_P[15]" IOSTANDARD = "LVDS_25" | LOC = R38;
NET "LVDS_RX_LANE_N[15]" IOSTANDARD = "LVDS_25" | LOC = R39;

NET "LVDS_RX_LANE_P[16]" IOSTANDARD = "LVDS_25" | LOC = N39;
NET "LVDS_RX_LANE_N[16]" IOSTANDARD = "LVDS_25" | LOC = M39;

NET "LVDS_RX_CLK_P[0]" IOSTANDARD = "LVDS_25" | LOC = M38;
NET "LVDS_RX_CLK_N[0]" IOSTANDARD = "LVDS_25" | LOC = L39;

# LVDS IO LANE 03 FPGA 0 IO bank 23 

NET "LVDS_RX_LANE_P[17]" IOSTANDARD = "LVDS_25" | LOC = T32;
NET "LVDS_RX_LANE_N[17]" IOSTANDARD = "LVDS_25" | LOC = U32;

NET "LVDS_RX_LANE_P[18]" IOSTANDARD = "LVDS_25" | LOC = P33;
NET "LVDS_RX_LANE_N[18]" IOSTANDARD = "LVDS_25" | LOC = P32;

NET "LVDS_RX_LANE_P[19]" IOSTANDARD = "LVDS_25" | LOC = R33;
NET "LVDS_RX_LANE_N[19]" IOSTANDARD = "LVDS_25" | LOC = R32;

NET "LVDS_RX_LANE_P[20]" IOSTANDARD = "LVDS_25" | LOC = N31;
NET "LVDS_RX_LANE_N[20]" IOSTANDARD = "LVDS_25" | LOC = P31;

NET "LVDS_RX_LANE_P[21]" IOSTANDARD = "LVDS_25" | LOC = K33;
NET "LVDS_RX_LANE_N[21]" IOSTANDARD = "LVDS_25" | LOC = J33;

NET "LVDS_RX_LANE_P[22]" IOSTANDARD = "LVDS_25" | LOC = F31;
NET "LVDS_RX_LANE_N[22]" IOSTANDARD = "LVDS_25" | LOC = F32;

NET "LVDS_RX_LANE_P[23]" IOSTANDARD = "LVDS_25" | LOC = E32;
NET "LVDS_RX_LANE_N[23]" IOSTANDARD = "LVDS_25" | LOC = E33;

NET "LVDS_RX_LANE_P[24]" IOSTANDARD = "LVDS_25" | LOC = G32;
NET "LVDS_RX_LANE_N[24]" IOSTANDARD = "LVDS_25" | LOC = G31;

NET "LVDS_RX_CLK_P[1]" IOSTANDARD = "LVDS_25" | LOC = F35;
NET "LVDS_RX_CLK_N[1]" IOSTANDARD = "LVDS_25" | LOC = E35;

NET "LVDS_RX_LANE_P[25]" IOSTANDARD = "LVDS_25" | LOC = E34;
NET "LVDS_RX_LANE_N[25]" IOSTANDARD = "LVDS_25" | LOC = F34;

NET "LVDS_RX_LANE_P[26]" IOSTANDARD = "LVDS_25" | LOC = M34;
NET "LVDS_RX_LANE_N[26]" IOSTANDARD = "LVDS_25" | LOC = M33;

NET "LVDS_RX_LANE_P[27]" IOSTANDARD = "LVDS_25" | LOC = H34;
NET "LVDS_RX_LANE_N[27]" IOSTANDARD = "LVDS_25" | LOC = G34;

NET "LVDS_RX_LANE_P[28]" IOSTANDARD = "LVDS_25" | LOC = H31;
NET "LVDS_RX_LANE_N[28]" IOSTANDARD = "LVDS_25" | LOC = J31;

NET "LVDS_RX_LANE_P[29]" IOSTANDARD = "LVDS_25" | LOC = G33;
NET "LVDS_RX_LANE_N[29]" IOSTANDARD = "LVDS_25" | LOC = H33;

NET "LVDS_RX_LANE_P[30]" IOSTANDARD = "LVDS_25" | LOC = K32;
NET "LVDS_RX_LANE_N[30]" IOSTANDARD = "LVDS_25" | LOC = J32;

NET "LVDS_RX_LANE_P[31]" IOSTANDARD = "LVDS_25" | LOC = N33;
NET "LVDS_RX_LANE_N[31]" IOSTANDARD = "LVDS_25" | LOC = N34;

NET "LVDS_RX_LANE_P[32]" IOSTANDARD = "LVDS_25" | LOC = M32;
NET "LVDS_RX_LANE_N[32]" IOSTANDARD = "LVDS_25" | LOC = M31;

NET "LVDS_RX_LANE_P[33]" IOSTANDARD = "LVDS_25" | LOC = L32;
NET "LVDS_RX_LANE_N[33]" IOSTANDARD = "LVDS_25" | LOC = L31;



# LVDS IO LANE 04 FPGA 0 IO bank 21

NET "LVDS_TX_LANE_P[0]" IOSTANDARD = "LVDS_25" | LOC = AC33;
NET "LVDS_TX_LANE_N[0]" IOSTANDARD = "LVDS_25" | LOC = AD32;

NET "LVDS_TX_LANE_P[1]" IOSTANDARD = "LVDS_25" | LOC = AD33;
NET "LVDS_TX_LANE_N[1]" IOSTANDARD = "LVDS_25" | LOC = AE32;

NET "LVDS_TX_LANE_P[2]" IOSTANDARD = "LVDS_25" | LOC = AE33;
NET "LVDS_TX_LANE_N[2]" IOSTANDARD = "LVDS_25" | LOC = AE34;

NET "LVDS_TX_LANE_P[3]" IOSTANDARD = "LVDS_25" | LOC = AE35;
NET "LVDS_TX_LANE_N[3]" IOSTANDARD = "LVDS_25" | LOC = AF34;

NET "LVDS_TX_LANE_P[4]" IOSTANDARD = "LVDS_25" | LOC = AH34;
NET "LVDS_TX_LANE_N[4]" IOSTANDARD = "LVDS_25" | LOC = AG34;

NET "LVDS_TX_LANE_P[5]" IOSTANDARD = "LVDS_25" | LOC = AL36;
NET "LVDS_TX_LANE_N[5]" IOSTANDARD = "LVDS_25" | LOC = AL35;

NET "LVDS_TX_LANE_P[6]" IOSTANDARD = "LVDS_25" | LOC = AN34;
NET "LVDS_TX_LANE_N[6]" IOSTANDARD = "LVDS_25" | LOC = AM34;

NET "LVDS_TX_LANE_P[7]" IOSTANDARD = "LVDS_25" | LOC = AJ35;
NET "LVDS_TX_LANE_N[7]" IOSTANDARD = "LVDS_25" | LOC = AK35;

NET "LVDS_TX_CLK_P[0]" IOSTANDARD = "LVDS_25" | LOC = AB33;
NET "LVDS_TX_CLK_N[0]" IOSTANDARD = "LVDS_25" | LOC = AB32;

NET "LVDS_TX_LANE_P[8]" IOSTANDARD = "LVDS_25" | LOC = AP35;
NET "LVDS_TX_LANE_N[8]" IOSTANDARD = "LVDS_25" | LOC = AN36;

NET "LVDS_TX_LANE_P[9]" IOSTANDARD = "LVDS_25" | LOC = AM36;
NET "LVDS_TX_LANE_N[9]" IOSTANDARD = "LVDS_25" | LOC = AN35;

NET "LVDS_TX_LANE_P[10]" IOSTANDARD = "LVDS_25" | LOC = AF35;
NET "LVDS_TX_LANE_N[10]" IOSTANDARD = "LVDS_25" | LOC = AF36;

NET "LVDS_TX_LANE_P[11]" IOSTANDARD = "LVDS_25" | LOC = AR37;
NET "LVDS_TX_LANE_N[11]" IOSTANDARD = "LVDS_25" | LOC = AT36;

NET "LVDS_TX_LANE_P[12]" IOSTANDARD = "LVDS_25" | LOC = AT37;
NET "LVDS_TX_LANE_N[12]" IOSTANDARD = "LVDS_25" | LOC = AR38;

NET "LVDS_TX_LANE_P[13]" IOSTANDARD = "LVDS_25" | LOC = AU38;
NET "LVDS_TX_LANE_N[13]" IOSTANDARD = "LVDS_25" | LOC = AU37;

NET "LVDS_TX_LANE_P[14]" IOSTANDARD = "LVDS_25" | LOC = AH35;
NET "LVDS_TX_LANE_N[14]" IOSTANDARD = "LVDS_25" | LOC = AG36;

NET "LVDS_TX_LANE_P[15]" IOSTANDARD = "LVDS_25" | LOC = AV39;
NET "LVDS_TX_LANE_N[15]" IOSTANDARD = "LVDS_25" | LOC = AV38;

NET "LVDS_TX_LANE_P[16]" IOSTANDARD = "LVDS_25" | LOC = AJ36;
NET "LVDS_TX_LANE_N[16]" IOSTANDARD = "LVDS_25" | LOC = AH36;


# LVDS IO LANE 05 FPGA 0 IO bank 6

NET "LVDS_TX_LANE_P[17]" IOSTANDARD = "LVDS_25" | LOC = AK24;
NET "LVDS_TX_LANE_N[17]" IOSTANDARD = "LVDS_25" | LOC = AK25;

NET "LVDS_TX_LANE_P[18]" IOSTANDARD = "LVDS_25" | LOC = AM24;
NET "LVDS_TX_LANE_N[18]" IOSTANDARD = "LVDS_25" | LOC = AN24;

NET "LVDS_TX_LANE_P[19]" IOSTANDARD = "LVDS_25" | LOC = AN20;
NET "LVDS_TX_LANE_N[19]" IOSTANDARD = "LVDS_25" | LOC = AN19;

NET "LVDS_TX_LANE_P[20]" IOSTANDARD = "LVDS_25" | LOC = AT19;
NET "LVDS_TX_LANE_N[20]" IOSTANDARD = "LVDS_25" | LOC = AR19;

NET "LVDS_TX_LANE_P[21]" IOSTANDARD = "LVDS_25" | LOC = AN26;
NET "LVDS_TX_LANE_N[21]" IOSTANDARD = "LVDS_25" | LOC = AP26;

NET "LVDS_TX_LANE_P[22]" IOSTANDARD = "LVDS_25" | LOC = AT26;
NET "LVDS_TX_LANE_N[22]" IOSTANDARD = "LVDS_25" | LOC = AR27;

NET "LVDS_TX_LANE_P[23]" IOSTANDARD = "LVDS_25" | LOC = AR30;
NET "LVDS_TX_LANE_N[23]" IOSTANDARD = "LVDS_25" | LOC = AT30;

NET "LVDS_TX_LANE_P[24]" IOSTANDARD = "LVDS_25" | LOC = AU28;
NET "LVDS_TX_LANE_N[24]" IOSTANDARD = "LVDS_25" | LOC = AT27;

NET "LVDS_TX_CLK_P[1]" IOSTANDARD = "LVDS_25" | LOC = AR29;
NET "LVDS_TX_CLK_N[1]" IOSTANDARD = "LVDS_25" | LOC = AR28;

NET "LVDS_TX_LANE_P[25]" IOSTANDARD = "LVDS_25" | LOC = AN25;
NET "LVDS_TX_LANE_N[25]" IOSTANDARD = "LVDS_25" | LOC = AP25;

NET "LVDS_TX_LANE_P[26]" IOSTANDARD = "LVDS_25" | LOC = AT29;
NET "LVDS_TX_LANE_N[26]" IOSTANDARD = "LVDS_25" | LOC = AU29;

NET "LVDS_TX_LANE_P[27]" IOSTANDARD = "LVDS_25" | LOC = AP17;
NET "LVDS_TX_LANE_N[27]" IOSTANDARD = "LVDS_25" | LOC = AR17;

NET "LVDS_TX_LANE_P[28]" IOSTANDARD = "LVDS_25" | LOC = AT15;
NET "LVDS_TX_LANE_N[28]" IOSTANDARD = "LVDS_25" | LOC = AR15;

NET "LVDS_TX_LANE_P[29]" IOSTANDARD = "LVDS_25" | LOC = AT17;
NET "LVDS_TX_LANE_N[29]" IOSTANDARD = "LVDS_25" | LOC = AT16;

NET "LVDS_TX_LANE_P[30]" IOSTANDARD = "LVDS_25" | LOC = AT14;
NET "LVDS_TX_LANE_N[30]" IOSTANDARD = "LVDS_25" | LOC = AR14;

NET "LVDS_TX_LANE_P[31]" IOSTANDARD = "LVDS_25" | LOC = AM19;
NET "LVDS_TX_LANE_N[31]" IOSTANDARD = "LVDS_25" | LOC = AL19;

NET "LVDS_TX_LANE_P[32]" IOSTANDARD = "LVDS_25" | LOC = AN18;
NET "LVDS_TX_LANE_N[32]" IOSTANDARD = "LVDS_25" | LOC = AM18;

NET "LVDS_TX_LANE_P[33]" IOSTANDARD = "LVDS_25" | LOC = AK18;
NET "LVDS_TX_LANE_N[33]" IOSTANDARD = "LVDS_25" | LOC = AK19;

